{% include 'base.html' %}
{% block content %}
<style>
    body {font-family: "Lato", sans-serif;}
    .login-box {
      max-width: 400px;
      margin: auto;
      margin-top: 100px;
    }
    .w3-button {
      width: 100%;
    }
    footer {
        display: none;
    }
  </style>


<div class="w3-container login-box w3-card-4 w3-padding-large w3-light-grey">
    <h2 class="w3-center">Registruotis</h2>
  
    <form method="post">
      {% csrf_token %}
      <label for="username"><b>Vartotojo vardas</b></label>
      <input class="w3-input w3-margin-bottom" type="text" name="username" required id="username">
  
      <label for="password"><b>Slaptažodis</b></label>
      <input class="w3-input w3-margin-bottom" type="password" name="password" required id="password">

      <label for="password"><b>Pakartoti slaptažodį</b></label>
      <input class="w3-input w3-margin-bottom" type="password" name="confirm-password" required id="confirm-password">
  
      <button type="submit" class="w3-button w3-green">Registruotis</button>
    </form>

    {% if messages %}
    <ul>
      {% for message in messages %}
        <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
          {{ message }}
        </li>
      {% endfor %}
    </ul>
  {% endif %}
  
    <div class="w3-center w3-margin-top">
      <p>Ar jau turite paskyrą? <a href="{% url 'login' %}">Prisijungti</a></p>
    </div>
  </div>
{% endblock %}